In [1]:
import numpy as np
import pandas as pd
from sklearn.svm import SVR
from sklearn.compose import ColumnTransformer
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import AdaBoostRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder

In [2]:
excel_file = pd.read_excel('2nd and 3rd batch.xlsx',sheet_name=None)

In [3]:
sheet_names = excel_file.keys()

In [4]:
for sheet_name in sheet_names:
    print(sheet_name)

1st batch
2nd batch
3rd batch

In [5]:
sheets_dict = excel_file

In [7]:
df_sheet1 = sheets_dict['1st batch']
df_sheet2 = sheets_dict['2nd batch']
df_sheet3 = sheets_dict['3rd batch']

In [8]:
data=pd.concat([df_sheet2, df_sheet3], ignore_index=True)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13969 entries, 0 to 13968
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   price                         13969 non-null  int64
 1   date                          13969 non-null  object
 2   type                          13969 non-null  object
 3   amenities                     8160 non-null   object
 4   postcode                      13969 non-null  int64
 5   Area                          13969 non-null  object
 6   address                       13969 non-null  object
 7   Construction year range       13049 non-null  object
 8   living area                   12974 non-null  float64
 9   surface of ammenity           13969 non-null  float64
 10  surface of garden for houses  13969 non-null  float64
 11  prix/m2                       12922 non-null  float64
dtypes: float64(4), int64(2), object(6)
memory usage: 1.3+ MB

In [77]:
data['type'].value_counts()

Appartment                      8090
Habitation un logement          4310
Hab plusieurs logements          553
Bureaux                          187
Hab. deux logements              186
Garage                           128
PPE                              115
Local commercial                  85
Box                               80
Local                             65
Cave                              63
DÃ©pot                             49
Plusieurs types d'habitation      24
Atelier                           22
Chambre                           12
Name: type, dtype: int64

In [78]:
data.isnull().sum()

price                              0
date                               0
type                               0
amenities                       5809
postcode                           0
Area                               0
address                            0
Construction year range          920
living area                      995
surface of ammenity                0
surface of garden for houses       0
prix/m2                         1047
dtype: int64

In [79]:
columns_to_drop = ['Construction year range', 'prix/m2','amenities']
data= data.drop(columns_to_drop, axis=1)

In [80]:
data.isnull().sum()

price                             0
date                              0
type                              0
postcode                          0
Area                              0
address                           0
living area                     995
surface of ammenity               0
surface of garden for houses      0
dtype: int64

In [11]:
data=data.dropna()

In [82]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12974 entries, 0 to 13968
Data columns (total 9 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   price                         12974 non-null  int64
 1   date                          12974 non-null  object
 2   type                          12974 non-null  object
 3   postcode                      12974 non-null  int64
 4   Area                          12974 non-null  object
 5   address                       12974 non-null  object
 6   living area                   12974 non-null  float64
 7   surface of ammenity           12974 non-null  float64
 8   surface of garden for houses  12974 non-null  float64
dtypes: float64(3), int64(2), object(4)
memory usage: 1013.6+ KB

In [83]:
x = data.iloc[:, 1:]

In [84]:
y=data['price']

In [85]:
x_train, x_test, y_train,y_test =train_test_split(x,y,test_size=0.20, random_state=42,shuffle=False)

In [100]:
x_train.shape

(10379, 8)

In [86]:
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OrdinalEncoder, StandardScaler

# Assuming you have your training data stored in a DataFrame called `train_data`
categorical_cols =['type', 'Area']
numerical_cols =['postcode', 'living area', 'surface of ammenity', 'surface of garden for houses']

X_train_categorical = x_train[categorical_cols]
X_train_numerical = x_train[numerical_cols]

In [87]:
categorical_transformer = OneHotEncoder()
numerical_transformer = StandardScaler()

In [88]:
transformer = ColumnTransformer(
    transformers=[
        ('categorical', categorical_transformer, categorical_cols),
        ('numerical', numerical_transformer, numerical_cols)
    ]
)

In [89]:
X_train_transformed = transformer.fit_transform(X_train_categorical.join(X_train_numerical))

In [103]:
import pickle

# Assuming you have your transformer object called `transformer`

# Save the transformer using pickle
with open("my_transformer_0.pkl", "wb") as file:
    pickle.dump(transformer, file)

In [91]:
X_test_categorical = x_test[categorical_cols]
X_test_numerical = x_test[numerical_cols]

In [92]:
X_test_transformed = transformer.transform(X_test_categorical.join( X_test_numerical))

In [93]:
X_test_transformed = transformer.transform(X_test_categorical.join( X_test_numerical))

In [94]:
model =RandomForestRegressor()

In [95]:
model.fit(X_train_transformed,y_train)

RandomForestRegressor()

In [96]:
pred=model.predict(X_test_transformed)

In [97]:
error_persentage=(sum(abs(pred-y_test))/len(y_test))/(sum(y_test)/len(y_test))*100
print('Error percentage is ',error_persentage)

Error percentage is  14.144020280014633

In [102]:
import pickle

# Assuming you have trained and obtained your model
your_model = model # Your trained model

# Save the model to a file
filename = "house_price_model2.pkl"
with open(filename, "wb") as file:
    pickle.dump(your_model, file)

In [106]:
y_test[20:30]

11394     830000
11395    2150000
11396    1950000
11397    1875000
11398     770000
11399    1258000
11400     470000
11401    4132862
11402    6250000
11403    2500000
Name: price, dtype: int64

In [107]:
pred[20:30]

array([ 778266.66666667, 2000833.34      , 2098858.26      ,
       1706771.1       ,  792960.31642857, 1235546.67      ,
        780805.        , 4625703.06      , 6813684.8       ,
       2256150.        ])

In [57]:
l=['Garage' ,'Chambre' ,'Atelier' , 'DÃ©pot', 'Cave','Local' ,'Box']
for i in l:
    print(i)
    print(data[data['type']==i].isnull().sum())

Garage
price                             0
date                              0
type                              0
amenities                       128
postcode                          0
Area                              0
address                           0
living area                       0
surface of ammenity               0
surface of garden for houses      0
dtype: int64
Chambre
price                            0
date                             0
type                             0
amenities                       12
postcode                         0
Area                             0
address                          0
living area                      0
surface of ammenity              0
surface of garden for houses     0
dtype: int64
Atelier
price                            0
date                             0
type                             0
amenities                       22
postcode                         0
Area                             0
address                          0
living area                      0
surface of ammenity              0
surface of garden for houses     0
dtype: int64
DÃ©pot
price                            0
date                             0
type                             0
amenities                       49
postcode                         0
Area                             0
address                          0
living area                      4
surface of ammenity              0
surface of garden for houses     0
dtype: int64
Cave
price                            0
date                             0
type                             0
amenities                       63
postcode                         0
Area                             0
address                          0
living area                      1
surface of ammenity              0
surface of garden for houses     0
dtype: int64
Local
price                            0
date                             0
type                             0
amenities                       65
postcode                         0
Area                             0
address                          0
living area                     11
surface of ammenity              0
surface of garden for houses     0
dtype: int64
Box
price                            0
date                             0
type                             0
amenities                       80
postcode                         0
Area                             0
address                          0
living area                      2
surface of ammenity              0
surface of garden for houses     0
dtype: int64

In [22]:
data=data.dropna()#Garage ,Chambre ,Atelier , DÃ©pot, Cave,Local , Box

In [23]:
data['type'].value_counts()

Appartment                      4936
Habitation un logement          2012
Hab plusieurs logements          319
Hab. deux logements               89
Bureaux                           63
PPE                               27
Plusieurs types d'habitation      14
Local commercial                  12
Name: type, dtype: int64